

/************************************************************************************* 
 *															Small Screen Media (SSM)  													 *
 *************************************************************************************/

	
	.footer-right { 
			font-size: 11px;
	}
	.youtubeImage {		
			display: block;
			margin-left: auto;
			margin-right: auto;
	}
			
	
	/****************************** SSM: Remote Page ******************************/
	
	#SendText .ui-block-a {
			clear:both; /* for linebrak */
			width: 100%;
	}
	#SendText .ui-block-b { 
			clear:both; /* for linebrak */
			width: 100%;
	} 
	#SendText .ui-block-c { 
			clear:both; /* for linebrak */
			width: 100%;
	} 
	#cleanAndUpdate .ui-block-a { 
			clear:both; /* for linebrak */
			width: 100%;
	} 
	#cleanAndUpdate .ui-block-b { 
			clear:both; /* for linebrak */
			width: 100%;
	} 
	
	/****************************** SSM: Movies ******************************/
	.moviedetails { 
		height: 80px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		border: 1px solid #c8c8d1;
		cursor:pointer;
		overflow:hidden;
			
		/*	width: 4000px;   ugly hack to prevent linebreak */
	}
	.moviedetails:hover { 
			background-color: #c8c8d1;
	}
	#movie_list {	
			margin-top: 15px;
			line-height: 18px;
	}	
	#movie_list li div{
			margin: 0px;
			white-space:nowrap;  
			vertical-align: top; 
			display: inline-block;
	} 
	#movie_list li h4{
			display: inline;
			vertical-align: top;		
			padding-left:2px;
	}
	#movie_list li h4:after {
			white-space: pre;
			content:'\A';
	}
	#movie_list li p {
			white-space:normal;  
			display: inline;
			font-size: 10px;
			padding-left: 2px;
	}
  	#movie_list li p:after {
			white-space:normal;  
			white-space:pre;  
			content:'\A';
	}
	.moviePrevPic {
			display: inline;
			width: 50px;
	}
	.moviePrevPicArrow {
			display: inline;
			height: 80px;
	}
	.greenMovies {
			display: block;
			margin-top: -20px;	 
			padding-left: 35px;	 
			width: 20px;
			height: auto;
	}
		/****************************** SSM: Music ******************************/
	.album_Item, .album_Item_Nav { 
			height: 73px;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border-radius: 6px;
			border: 1px solid #c8c8d1;
			cursor:pointer;
			overflow: hidden;
	}
	.album_Item:hover, .album_Item_Nav:hover  { 
			background-color: #c8c8d1;
	}
	#album_list {	
			line-height: 18px;
			margin-top:20px;
	}	
	#album_list li div{
			white-space:nowrap;  
			vertical-align: top; 
			display: inline-block;
	} 
	#album_list li h4{
			display: inline;
			vertical-align: top;
			padding-left: 5px;
	}
	#album_list li h4:after {
			white-space: pre;
			content:'\A';
	}
	#album_list li p {
			display: inline-block;
			font-size: 10px;
			padding-left: 5px;
	}
	.musicPrevPic {
			height: 73px;
			display: inline-block;
	}
	
	/****************************** SSM: Addons Page ********************************/
	.addontitle {
			text-align: center;
	}
	#addonlist {
			list-style-type: none;
			margin-top: 20px;
	}
	.addonlist-item, #addonListPrev, #addonListNext {
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border-radius: 6px;
			border: 1px solid #c8c8d1;
			overflow:hidden;
			cursor:pointer;
	}
	.addonlist-item:hover, #addonListPrev:hover, #addonListNext:hover { 
			background-color: #c8c8d1;
	}
	.addonImage{
			display: block;
			height: 50px;
			width: auto;
			margin-left: auto;
			margin-right: auto;
	} 
