 /************************************************************************************* 
 *															Big Screen Media (BSM)															 *
 *************************************************************************************/

	

	
		/****************************** BSM : Index Page ********************************/
	#navigation-arrows {
			width: 500px;
	}
	#SendText .ui-block-a {
			width: 50%;
	}
	#SendText .ui-block-b { 
			width: 25%;
	} 
	#SendText .ui-block-c { 
			width: 25%;
	} 
		/****************************** BSM : Series ********************************/
	#series_list { 
			width: 70%;  /* for centering */
			margin: auto;  /* for centering */
			position: relative;
			width: 700px;
	}
	
		/****************************** BSM : Footer ********************************/
	
	.footer-right { 
			font-size: 17px;
	}
	
		/****************************** BSM :Popup ********************************/
		
	.detailspopup{	
			width: 500px;
	}
	.youtubeListItem{		
		height: 80px;
	}
	.youtubeTitle { 
		width: 380px;
		height: 80px;
		float: left;
		text-align: left;
	}
	.youtubeImage {		
		display: inline;
		float: left; 
	}
	
	/****************************** BSM: Movies ******************************/
	#movie_list {
			margin-top: 20px; 
	}
	#movie_list li {
			display: inline-block;
			vertical-align: top;
			width: 300px;
			padding: 10px;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border-radius: 6px;
	}
	.moviePrevPic {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 80px;
			height: auto;
	}
	#movie_list h4 {
			text-align: center;
			margin:2px 2px 2px 2px;
			font-size: 25px	
	}
	#movie_list p {
			text-align: center;
			margin:2px 2px 2px 2px;
	}
	.moviedetails:hover { 
			background-color: #c8c8d1;
	}
	.moviedetails { 
			cursor:pointer;
	}
	.greenMovies {
			display: block;
			position: absolute; 
			margin-top: -22px;	 
			padding-left: 135px;	 
			width: 30px;
			height: auto;
	}	
	.moviePrevPicArrow {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 80px;
			height: auto;
	}
	
	/****************************** BSM: Music ******************************/
	
	#album_list{
		margin-top: 20px;
	}
	
	#album_list li {
			display: inline-block;
			vertical-align: top;
			width: 300px;
			padding: 10px;
			cursor:pointer;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border-radius: 6px;
	}
	.musicPrevPic {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 80px;
			height: auto;
	}
	#album_list h4 {
			text-align: center;
			margin:2px 2px 2px 2px;
			font-size: 18px	
	}
	#album_list p {
			text-align: center;
			margin:2px 2px 2px 2px;
	}
	.album_Item:hover, .album_Item_Nav:hover { 
			background-color: #c8c8d1;
	}
	
	
	/****************************** BSM: Addons Page ********************************/
	.addontitle {
			text-align: center;
	}
	#addonlist{
			display:block;
			margin-top: 20px;
	}
	#addonlist li {
			display: inline-block;
			vertical-align: top;
			width: 300px;
			padding: 10px;
			list-style-type: none;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border-radius: 6px;
	}
	.addonlist-item {
			height: 80px;
			white-space:nowrap; 
			overflow:hidden;	
			cursor:pointer;
	}
	.addonlist-item:hover, #addonListPrev:hover, #addonListNext:hover { 
			background-color: #c8c8d1;
	}
	.addonImage{
			display: block;
			height: 50px;
			width: auto;
			margin-left: auto;
			margin-right: auto;
	}